.footer-wrapper{
    background-color: #ebe9eb;
    width: 100%;
    height: 20rem;
    position: relative;
    ul, li{
        display: inline;
    }
    li{
        margin: 0 1rem;
        cursor: pointer;
        transition: 150ms;
        &:hover{
            color: #a46497;
        }
    }

    .copy-right{
        position: absolute;
        bottom: 10px;
        font-size: 1.4rem;
        color: #999;
        font-family: "Lora", sans-serif;
    }
}