
.navbar-wrapper{
    display: flex;
    width: 100%;
    padding: 1rem 4em;
    align-items: center;
    justify-content: space-between;
}

.navbar-left{
    // display: flex;
    // align-items: center;
}

.profile-text{
    font-size: 1.6rem;
    margin-bottom: .4rem;
    font-family: 'Hina Mincho', serif;
}

.email-text{
    font-size: 1.4rem;
    font-family: 'Nunito', sans-serif;
    color: $color-primary-light-grey;
}

.seperator:after{
 content: "";
 width: 5px;
 background: red;
 height: 10px;
}

.drop-down{
    position: relative;
    display: inline-block;
}

.drop-down-menu{
    position: absolute;
    visibility: hidden;
    right: 0;
    top: 5rem;
    padding:2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    opacity: 0 ;
    transform: translateY(-1.5rem);
    transition: 200ms ease-in-out;
     width: 30rem;
    z-index: 999;
    background-color: #fff;
}
.drop-down-list-profile{
padding: 2rem;
display: flex;
}
.menu-active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.drop-down-list li{
    list-style: none;
    text-decoration: none;
    margin: 1rem 0;
    margin-left: 1rem;
    padding: .5rem 0;
    cursor: pointer;
    font-size: 1.7rem;
    color: $color-primary-light-grey;

    &:hover{
        color: black;
    }
}

.drop-down-list-left{
margin-left: 1rem;
}



@media screen and (max-width:900px) {
    .navbar-wrapper{
        padding: 1rem 2rem;
        width: 100%;
    }
   
}