
.graf--p{
  // display: inline;
    outline: none;
    margin-bottom: 3rem;
    font-family: 'Hina Mincho', serif;
    font-size: 2.6rem;
    color: $color-primary-light-grey;
    line-height: 3.5rem;
}

.graf{
  font-family: 'Hina Mincho', serif !important;
}

.upload-img-box{

  text-align: center;
  color: $color-primary-light-grey;
  border: dotted 2px $color-primary-light-grey;
  padding: 5rem 0;
  margin-bottom: 3rem;
}


.graf--h2{
  line-height: 4rem;
  font-size: 2.6rem;
  font-family: 'Hina Mincho', serif;
}

.graf--h3{
  line-height: 4rem !important;
  font-size: 2.6rem !important;
  font-family: 'Hina Mincho', serif !important;
}

.input-header{
  text-align: center;
  border: none;
  outline: none;
  font-size: 2rem;
  padding: .6rem;
  margin-right: 2rem;
  font-family: 'Hina Mincho', serif;

}