.tool-box{
    display: flex;
    justify-content: center;
    transform: translateX(50px);
    margin-bottom: 2rem;
    transition: .2s;
    &-active{
        transform: translate(-20px);
    }
}


.tool-expand{
    opacity: 1;
    display: inline-block;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}