*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 2rem;
}

::-moz-selection { /* Code for Firefox */
    color:white;
    background: #7FC8A9;
  }
  
  ::selection {
    color:white;
    background: #7FC8A9;
  }

  .container{
    max-width: 700px;
    margin:  0 auto;
    margin-bottom: 15rem;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}