*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
  }
body{
    font-size: 2rem;
    overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
    color:white;
    background: #7FC8A9;
  }
  
  ::selection {
    color:white;
    background: #7FC8A9;
  }

  .container{
    max-width: 700px;
    margin:  0 auto;
    padding-bottom: 10rem;
}

.container-medium{
  max-width: 1000px;
  margin:  0 auto;
  padding-bottom: 10rem;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}

@media only screen and (max-width:900px) {
  .container{
    width: 100%;
    padding: 0 2rem;
    overflow-x: hidden;
  
  }
  .container-medium{
    width: 100%;
    padding: 0 2rem;
    overflow-x: hidden;
  
  }
 
}