.title-primary{
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Lora', serif;
    outline: none;
    text-align: center;
    margin-bottom: 1rem;
    color: #3E2C41;
}

.blur-text{
    color: #ccc;
}

.link-text{
    text-decoration: none;
    transition: .3s;
    color: black;
    font-family: 'Nunito', sans-serif;
    margin-right: 2rem;
    &:hover{
        color: $color-primary-light-brown;
    }
}

.text-btn{
    font-size: 1.6rem;
    color: $color-primary-light-grey;
    font-family: "Nunito", sans-serif;
    outline: none;
    text-decoration: none;
    margin-left:2rem ;
}

.profile-text-primary{
    font-size: 2rem;
    color: rgba(0,0,0,.6);
    font-family: 'Hina Mincho', serif;
    
}

.small-text-primary{
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    color: black;
}

.small-text-secondary{
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    color: $color-primary-light-grey;
}


.strong-text-primary{
    font-size: 1.6rem;
    color : $color-primary-light-brown;
    font-weight: 700;
}


@media screen and (max-width:768px) {
    .title-primary{
        font-size: 3rem;
    }
}

.section-text-primary{
    color: #696969;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 1px;
    // line-height: 24px;
    text-transform: uppercase;
    position: relative;
    margin: 1rem;
    &::after{
        position: absolute;
        content: "";
        width: 4.5rem;
        height: 1.5px;
        background-color: #664E88;
        top: 25px;
        left:0;
    }
}

@media screen and (max-width:900px){
    .profile-text-primary{
        font-size: 1.8rem;
    }
}